/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
	padding: 18%;
	/*width:100%;*/
}
#hideMap {
	display: none;
}

.title {
	font-weight: 500;
	font-size: 14px;
	padding-bottom: 10px;
}