/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
	padding: 23%;
	/*width:auto;*/
}
#hideMap {
	display: none;
}

.title {
	font-weight: 500;
	font-size: 14px;
	padding-bottom: 10px;
}
.container-fluid{
	padding-left: 20px;
	padding-right: 20px;
}
.gm-style-iw {
  min-width: 500px; 
  min-height: 150px;
}